*{
    margin: 0;
    padding: 0;
}
.manto-body{
    /* border: 1px solid; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(to right,white,#007bff)
}
.manto-cont h4{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.manto-cont h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.manto-cont p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}
.green-cont{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(63, 241, 63);
    position:relative;
    top: 55px;
    
}
.form-cont{
    height: 150px;
    width: 25%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
}
.form-cont input{
    height: 30px;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(235, 222, 222);
    border: none;
    /* padding-left: 10px; */
}
.form-cont button{
    height: 35px;
    width: 100%;
    margin-top: 10px;
    background-color: blue;
    color: #fff;
    border: none;
}
.get-cont{
    
    /* border: 1px solid; */
    color: #007bff;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    padding-block: 20vh;
}
.get-better-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.get-better-cont p{
    width: 400px;
}
.video-cont{
    height: fit-content;
    padding-block: 10px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.video-watch-cont{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 50px;
}
.video{
    height: 200px;
    width: 100%;
    border: 1px solid;
}
.watch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;

}
.watch li{
    line-height: 25px;
    list-style-type: circle;
    margin-left: 10px;
}
.footer-cont{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer p{
    width: 350px;
    text-align: center;
}
.pic-cont{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    font-style: italic;
}
.picture{
    height: 40px;
    width: 40px;
    background-color: #007bff;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .get-better-cont{
        flex-direction: column;
    }
    .video-watch-cont{
        flex-direction: column;
    }

}
